html,
body {
  min-height: 100%;
}

body {
    font-size: 1.1em;
    line-height: 1.5;
    color: #302E2F;
    margin: 0;
    background-color: #659DBD;
}

  
.homeImg {
    background-image: url("../images/coronavirus.jfif");
    background-color: #659DBD;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
    padding: 10px;
}

.homeText {
    font-family: 'Lora', serif;
    text-shadow: 0 0 10px #fff;
    font-size: 3em;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.details {
  text-align: center;
  font-size: 1.3em;
  font-family: 'Lora', serif;
  text-shadow: 0 0 10px #fff;
}
   
.stats {
  display: flex;
  flex-direction: column-reverse;
}    

.graph {
  flex: 1;
  border: solid;
  border-color: #659DBD;
}

#one, #two {
  height: 48%;
  border: solid;
  border-color: #659DBD;
  padding: .5%;
}

.card {
    text-align: center;
    color: #302E2F;
    text-shadow: 0 0 10px #fff;
    border-radius: 6px;
    background-color: #659DBD;
    padding: 20px;
    margin-bottom: 24px; 
    min-height: 550px;
    flex: 1;
  }

.globe {
  width: 100%;
  background-color: #fff;
}
  .globe img {
      padding: 10px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
  }

  @media screen and (min-width: 900px) {
    .stats {
      flex-direction: row;
    }
  }